<div class="container-fluid">

  <h1>Assigned</h1>
  <hr>

  <div class="container-fluid">
    <h3>Consignment data</h3>
    <hr>
                   
    <pagination-controls (pageChange)="p = $event"></pagination-controls>
    <div class="ScrollStyle" [@listStagger]="response$.data">
      <mat-progress-bar mode="indeterminate" *ngIf="loading"></mat-progress-bar>
      <table class=" table table-striped table-bordered">

        <thead id="head">
          <tr>
            <th>GTIN Number</th>
            <th>Manufacturer Name
            </th>
            <th>Batch Number
            </th>
            <th>Serial Number</th>

            <th>View</th>
          </tr>
        </thead>
        <tbody>
          <tr class="full-list" *ngFor="let product of response$.data| paginate: { itemsPerPage: 10, currentPage: p };index as j">


            <td>
              <p>{{product.gtinNumber}}</p>
            </td>
            <td>
              <p *ngIf="product.manufacturerName!=null">{{product.manufacturerName}}</p>
              <p *ngIf="product.manufacturerName==null">N/A</p>
            </td>
            <td>
              <p *ngIf="product.batchNumber!=null">{{product.batchNumber}}</p>
              <p></p>
            </td>
            <td>
              <p>{{product.fromSerialNumber}}-{{product.toSerialNumber}}</p>
            </td>

            <td (click)="viewBranches(j,product.distributorName)">
              <i class="material-icons">
                remove_red_eye
              </i>
            </td>

          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>