<div class="container-fluid">
  <h1>Registered Companies</h1>
  <hr>

  <div class="container-fluid">
    <h3> Details</h3>
    <hr>
    <div class="container-fluid">
        <pagination-controls (pageChange)="p = $event"></pagination-controls>
      <mat-progress-bar mode="indeterminate" *ngIf="loading"></mat-progress-bar>
      <div class=".ScrollStyle" [@listStagger]="response$.data">
      <table class=" table table-striped table-bordered">
  
        <thead id="head">
          <tr>
      <th>Logo</th>
      <th>Name</th>
      <th>Email</th>
      <th>Person name</th>
      <th>Contact number</th>
      <th>Email</th>
      <th>View</th>
    </tr>
  </thead>
  <tbody>
   
    <tr *ngFor="let comp of response$.data | paginate: { itemsPerPage: 10, currentPage: p };index as j">
          <td *ngIf="comp.profilePic!='N/A'"><img src="{{imgUrl}}{{comp.manufacturerLogo}}" alt="logo"></td>
          <td *ngIf="comp.profilePic=='N/A'"><img src="../../assets/images/noImg.jpg" alt="logo"></td>
          <td><p>{{comp.userName}}</p></td>
          <td><p>{{comp.email}}</p></td>
          <td><p>{{comp.concernPersonName}}</p></td>
          <td><p>{{comp.concernPersonPhone}}</p></td>
          <td><p>{{comp.concernPersonEmail}}</p></td>
          <td (click)="viewdetails(j,comp.userName)"><i class="material-icons">
              remove_red_eye
              </i></td>
            </tr>

          </tbody>
        </table>
  </div>
  </div>
  </div>