
.sidenav {
  background: rgba(21,93,172,1);
  background: -moz-linear-gradient(top, rgba(21,93,172,1) 0%, rgba(10,26,53,1) 100%);
  background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(21,93,172,1)), color-stop(100%, rgba(10,26,53,1)));
  background: -webkit-linear-gradient(top, rgba(21,93,172,1) 0%, rgba(10,26,53,1) 100%);
  background: -o-linear-gradient(top, rgba(21,93,172,1) 0%, rgba(10,26,53,1) 100%);
  background: -ms-linear-gradient(top, rgba(21,93,172,1) 0%, rgba(10,26,53,1) 100%);
  background: linear-gradient(to bottom, rgba(21,93,172,1) 0%, rgba(10,26,53,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#155dac', endColorstr='#0a1a35', GradientType=0 );
}

.sidenav .mat-toolbar {
  background: inherit;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;
}

#small {
  height: 120px;
  margin-bottom: 60px;
  background-image: url('../../../assets/images/logo1.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-color: #ffffff;
}
.sidenav-container {
  height: 100%;
  width: 100%;
 
}
.containermain
{
 margin-top: 100px;
}


.toolbar{
  width: 100%;
}

.spacer{
  height: 150px;
}

.sidenav .mat-toolbar {
  background-image:url("../../../assets/images/logo1.png");
  background-repeat: no-repeat;
  background-size: contain;
  height: 100px;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;
}
ul
{
  list-style: none;
  padding: 0%;
  outline: none;
  li{
    outline: none;
  }

}

.sidebar a {
 color: #222222;
  padding: 6px 8px 6px 16px;
  background-color: #eeeeee;
  text-decoration: none;
  font-size: 16px;

  outline: none;
  display: block;
  margin: auto;
}
.active
{
  a{
    background-color: #222222;
     outline: none;
   
    color: #ffffff;
  }
  i{
    animation: pop2 200ms ease-in-out forwards;
    @keyframes pop2{
      100%{
        transform: translateX(0px) scale(1.01);;
      }
    }
  }
}
.sidebar a i{
  margin-right: auto;
  margin-right: 20px;
  font-size: 15px;
  transform: translateX(-200px);
  outline: none;
}
.sidebar .awrapper:hover i
{
  animation: pop2 200ms ease-in-out forwards;
  @keyframes pop2{
    0%{
      transform: translateX(10px) scale(0.99);
    }
    70%
    {
      transform: translateX(-10px);
    }
    100%{
      transform: translateX(0px) scale(1.01);;
    }
  }
}

.sidebar .awrapper:hover a{

  background-color: #ffffff;
  color: #222222;
  outline: none;

  animation: pop2 200ms ease-in-out forwards;

  @keyframes pop2{
    0%{
      transform: translateX(10px) scale(0.99);
    }
    70%
    {
      transform: translateX(-10px);
    }
    100%{
      transform: translateX(0px) scale(1.01);;
    }
  }

}
@media(max-width:576px)
{
  .containermain
{
  padding-top: 0px;
}
  .mat-sidenav-content
{
#bg
{
  background-color: #ddd;
  height: 100vh;
  width: 100vw;
  position: fixed;
  z-index: -1;
  -webkit-clip-path: polygon(100% 0, 100% 68%, 36% 100%, 0 100%, 0 0);
clip-path: polygon(100% 0, 100% 68%, 36% 100%, 0 100%, 0 0)
}
}
}